@tailwind base;
@tailwind components;
@tailwind utilities; 
@custom-variant dark (&:where(.dark, .dark *));

:root {
	--primary-color: #2563eb;
	--primary-hover: #1d4ed8;
	--text-light: #000000;
	--text-dark: #ffffff;
	--background-light: #ffffff;
	--background-dark: #000000;
	--gray-light: #e2e8f0;
	--gray-dark: #334155;
}

@layer base {
	:root {
		--radius: 0.25rem;
	}
}
